<table>
  <tr>
    <td>
      <strong><%= image_tag @restaurant.image.masthead if @restaurant.image.present? %>
                    <%= image_tag @restaurant.menu if @restaurant.menu.present? %></strong>
    </td>
    <td>
      <dt><%= @restaurant.name %></dt>
      <dt><%= @restaurant.description %></dt>
      <dt><%= @restaurant.address %></dt>
      <dt><%= @restaurant.city %></dt>
      <dt><%= @restaurant.state %></dt>
      <dt><%= @restaurant.phone %></dt>
    </td>
  </tr>
</table>

<%= link_to "Back", restaurants_path, :class => 'btn' %>

<% if current_owner == @restaurant.owner %>
  <%= link_to "Edit", edit_restaurant_path(@restaurant), :class => 'btn' %>
<% end %>

<%= render "reservations/form" %>

<% if current_owner == @restaurant.owner %>
  <%= link_to "See Reservations", restaurant_reservations_path(@restaurant), :class => 'btn' %>
<% end %>