<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :fixed => :top, :brand => "Ty's Kickin' Restaurant Guide" do %>
    <% menu_group do %>
        <%= menu_item "Home", root_path %>
    <% end %>
<% end %>

<div class="container">
	<%= yield %>
</div>
</body>
</html>
